# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:3000"

# TELEGRAM_BOT_TOKEN: Telegram bot API token provided by BotFather
TELEGRAM_BOT_TOKEN="8964110250:AAG3yf-jWsiLsL45NXWFmZaPFqRqfjmtEC4"

# LOOKUP_API_KEY: Default API key for uersxinfo API
LOOKUP_API_KEY="ksidkf"

# LOOKUP_API_URL: Base URL for uersxinfo API
LOOKUP_API_URL="http://uersxinfo.in/api"

# MONGO_URI: MongoDB Connection URI for database storage
MONGO_URI="mongodb+srv://Ritik:Ritik906087@tdm.uwkxmdo.mongodb.net/TDM?retryWrites=true&w=majority"

# DATABASE_URL: General Database URL
DATABASE_URL="mongodb+srv://Ritik:Ritik906087@tdm.uwkxmdo.mongodb.net/TDM?retryWrites=true&w=majority"
